.content {
   text-align: left;
   margin-left: 30px;
   margin-right: 30px;
}

.content-block {
   color: white;
   font-size: 17px;
}
   
.text-block {
padding: 0 15px;
}

.code-block {
   color:#282c34;
   background-color: white;
   font-size: 15px;
   border-radius: 15px;
}

.content-title {
   text-align: center;
}
